<h3>

<table>
    <tr>
      <th>Access Token</th>
      <th>Created At</th>
      <th>Expires At</th>
      <th>Refresh Token </th>
    </tr>
  </tr>
    <td><%= @access_token['access_token'][1..5 ] + "..." %></td>
    <td><%= @token_created_at %> </td>
    <td><%= @access_token['expires_in'] %> </td>
    <td><%= @access_token['refresh_token'][1..5]  + "..." %> </td>
  </tr>
</table>

<div class="me-button">
  <%= link_to "Show User Information", users_me_path, method: :get, class: :button %>
</div>

<div class="refresh-button">
  <%= link_to "Refresh Your Access Token", login_refresh_path, method: :post, class: :button%> 
</div>
